p{
	font-size:160%;
	margin-left: 120px;
	margin-right: 120px;
}
h1{
	font-size: 300%;
	margin-left: 120px;
	margin-right: 120px;
	font-family:verdana;
}
h2{
	margin-left: 120px;
	font-family:verdana;
}
h4{
	margin-left: 120px;
	font-size:140%;
	font-family:verdana;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:70%;
}
h3{
	font-size:160%;
	font-family:verdana;
}
hr{
	width:70%;
}
img{
	border-radius: 3%;
}
a{
	color:black;
}
.boxed {
  border: 4px solid green ;
}
#holder{
	width: 750px;
	height: auto;
	
}
#holder p{
	border-left:1px solid #333;
	border-right:1px solid #333;
	padding:10px 15px;
	margin:0;
	background:orange;
    
}
#top{
	width:750px;
	height: 50px;
	border:1px solid #333;
	background:#ccc;
}
#top h3{
	margin:0;
	line-height: 50px;
	padding:0px;
}
#bottom{
	width:750px;
	height: 10px;
	border:1px solid #333;
	background:#ccc;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;

  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
table, th, td {
  margin-right: 120px;	
  margin-left: 120px;
  border: 3px solid black;
  border-collapse: collapse;
  background:grey;
}
th, td {
  padding: 5px;
  text-align: center;    
}
.footer1{
	width: 100%;
	height: auto;
	margin: auto;
	background-color: #272727;
	padding:20px 0px;
}
.footermenu{
	width:100%;
	height: auto;
	margin:auto;
	margin-top:20px;
}
.footermenu ul{
	margin:0px;
	padding:0px;
	text-align:center;
}
.footermenu ul li{
	display:inline-block;
	margin:0px 15px;
}
.footermenu ul li a{
	font-family: arial;
	font-size:15px;
	font-weight: 600;
	color:#fff;
}
.footerheading{
	width:100%;
	height:auto;
	margin:auto;
	margin-top:20px;
        text-align:center;
        color: white;
}
